body {
    /***
      ADD YOUR CUSTOM STYLIING HERE. (INSIDE THE body {...} section.)
      IT WILL TAKE PRECEDENCE OVER THE STYLING IN THE STYLE.CSS FILE.
   ***/
    //  background-color: white;
    //  .content {
    //   font-size: 14px;
    //  }
    //  h1 {
    //   color: black;
    //
    :root{
    --background-primary: rgb(143, 145, 178);
    --background-secondary: rgb(201, 203, 214);
    --text-normal: #242425;
    --text-accent: rgb(77, 77, 79);
    --file-margins: 32px;
}

h1 {
    color: #2a2a2b;
}

h2 {
    color: #cc968c;
}

h3 {
    color: #bbd1b2;
}

h4 {
    color: #b9d0d7;
}

button {
    border: none;
    color: grey;
    padding: 5px 15px;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

}
}
